.required:after{ 
    content:'*'; 
    color:red; 
    display:block;
    float:right;
}

a.edit {
    color: rgb(221, 166, 0);
}

a.delete {
    color: #cf0303;
}

#dashboard-links ul {
    list-style-type: none;
}

#dashboard-links a,
#dashboard-links a:link,
#dashboard-links a:visited,
#dashboard-links a:focus,
#dashboard-links a:hover,
#dashboard-links a:active {
    color: #636b6f;
    vertical-align: top;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    text-transform: uppercase;
}